.mySwiper

.swiper-container{
  flex: 1;    
}

.swiper-slide{
  width: 100%;
  height: 100%;
}

.swiper-button-next,
.swiper-button-prev{
  color: #FFBA08!important;
}

.mySwiper .swiper-pagination-bullet{
  background: #F7FAFC!important;
}

.swiper-pagination-bullet-active{
  background: #FFBA08;
}